openapi: 3.1.0
info:
  title: Einkaufzettel API
  description: RESTFul API for the einkaufszetel-server
  version: 0.1.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://ez.nachtsieb.de:/r0/'
paths:
  '/ez/{eid}':
    get:
      summary: Get the full EZ (Einkaufszettel) with the given eid (einkaufszettel id)
      description: UUID needed for access the EZ
      parameters:
        - name: eid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The whole EZ will be returned
          content:
            application/json:
              schema:
                $ref: 'https://nachtsieb.de/docs/ezschema.json'
        '404':
          description: There is no EZ with this eid
        default:
          description: unexpected error (500)
    put:
      summary: Create or update an Einkaufszettel
      description: some description
      parameters: 
        - name : eid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: EZ to add or update to the Server
        content:
          'application/json':
            schema: 
              $ref: 'https://nachtsieb.de/docs/ezschema.json'
      responses:
        '200':
          description: EZ properly created or updated
        '304':
          description: EZ versions are the same
        '400':
          description: Bad Request - invalid EZ was sent
        '404':
          description: There is no EZ with this eid
        '409':
          description: Conflict - There is already a newer Version on the server
        default:
          description: unexpected error (500)

    delete:
      summary: Delete an existing EZ
      description: The EZ with the eid will be deleted from the server
      parameters: 
        - name : eid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: EZ was successfully deleted from server
        '404':
          description: There is no EZ with this eid
        default:
          description: unexpected error (500)